<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4584958e-959b-4925-af5b-4c393a53af8d/resourceGroups/MotoRister/providers/Microsoft.Web/sites/MotoRister</ResourceId>
    <ResourceGroup>MotoRister</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://motorister.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>252cef65-105e-43d4-9317-a1c87a122684</ProjectGuid>
    <MSDeployServiceURL>motorister.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MotoRister</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAk1UsdjScz06m7x6jI8v45QAAAAACAAAAAAAQZgAAAAEAACAAAACezWpNU1TQBm4Ve31nJ8gpSPXeo8Uc8r/TGNP8iNHW1gAAAAAOgAAAAAIAACAAAAA3kjpo4MeGMjsF8vqq4qVQ3ffIZCxA6LtGuF1+MdtM7iAAAAA/9IpUUpSfZTfoFRB7WOPIfZriv2dzPDIVcLDJxewfW0AAAADlUFBPpN8zkI7pEvLkcziXtazQnCDMKo+TCqWtYKb+DZUtvpGTAeFj/HVfSFrC8yIbfu4HElqhG/r6WanvVEoo</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>