@model otoservistakipprogrami2025.Models.ParcaKullanimi

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ParcaKullanimi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ParcaId" class="control-label"></label>
                <select asp-for="ParcaId" class="form-control" asp-items="ViewBag.ParcaId"></select>
                <span asp-validation-for="ParcaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServisKaydiId" class="control-label"></label>
                <select asp-for="ServisKaydiId" class="form-control" asp-items="ViewBag.ServisKaydiId"></select>
                <span asp-validation-for="ServisKaydiId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Miktar" class="control-label"></label>
                <input asp-for="Miktar" class="form-control" />
                <span asp-validation-for="Miktar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirimFiyat" class="control-label"></label>
                <input asp-for="BirimFiyat" class="form-control" />
                <span asp-validation-for="BirimFiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye geri dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
